extends layout

block content
  h2 About Page!
  .about
    p Hi I'm the index page!
    img(src="http://nicenicejpg.com/500/500")

  ul.items
    li item01
    li item02
    li item09
    li item10

