<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title #{name}
body
  link(rel="stylesheet", href="style.css")
  .wrapper
    .innerWrapper
      p Hello there!
      .item.item1
        p Hello I am <span>item</span> 01
      .item.item2
        p Hello I am <span>item</span> 02
      .item.item3
        p Hello I am item 03
      .item.item4
        p Hello I am <span>item</span> 04
      .item.item5
        p Hello I am item 05
      .item.item6
        p Hello I am <span>item</span> 06
      .item.item7
        p Hello I am item 07
      .item.item8
        p Hello I am <span>item</span> 08
      .item.item9
        p Hello I am item 09
      .item.item10
        p Hello I am item 10
  script(src="all.js")

